In [3]:
import requests
url = 'https://www.moeaea.gov.tw/ECW/populace/opendata/wHandOpenData_File.ashx?set_id=252'
response:requests.Response = requests.get(url) #利用requests打開網址並回傳
if response.status_code == 200:  #response有個功能.status_code可以確認是否有問題
    print("下載成功")
    data:str = response.text #
elif response.status_code >= 400:
     print("下載失敗")
elif response.status_code >200:
     print("下載有問題")

下載成功

In [5]:
with open("再生能源發電量.csv", mode='w',encoding='utf8') as file:  #open(file,mode,encoding)要有這些物件
    file.write(data)

In [1]:
#讀取CSV,改成python的2維資料
import csv
with open("再生能源發電量.csv", mode='r' ,encoding='utf8', newline='') as file:
    dict_reader = csv.DictReader(file)
    csv_data:list[dict] = list(dict_reader)
    
for item in csv_data:
    if item['年份'] == '98年':
        print(item)

{'年份': '98年', '太陽光電(百萬度)': '9.1', '風力發電(百萬度)': '786.6', '慣常水力發電(百萬度)': '3748.3', '生質能發電(百萬度)': '229.3', '地熱發電(百萬度)': '-', '廢棄物(百萬度)': '3036.1', '合計(百萬度)': '7809.5'}

In [2]:
#使用DataFrame顯示資料
import pandas as pd
dataFrame = pd.DataFrame(csv_data, columns=['年份','太陽光電(百萬度)',])
dataFrame

      年份 太陽光電(百萬度)
0    98年       9.1
1    99年      21.7
2   100年      61.6
3   101年     159.9
4   102年     321.1
5   103年     528.8
6   104年     850.3
7   105年      1109
8   106年    1667.5
9   107年    2703.7
10  108年    4015.9
11  109年    6074.7
12  110年    7970.2
13  111年     10677