In [3]:
#下載文字檔
import requests
url = 'https://data.moenv.gov.tw/api/v2/stat_p_90?api_key=e8dd42e6-9b8b-43f8-991e-b3dee723a52d&limit=1000&sort=ImportDate desc&format=CSV'
response:requests.Response = requests.get(url) #利用requests打開網址並回傳
if response.status_code == 200:  #response有個功能.status_code可以確認是否有問題
    print("下載成功")
    data:str = response.text #
elif response.status_code >= 400:
     print("下載失敗")
elif response.status_code >200:
     print("下載有問題")

下載成功

In [4]:
with open("列管公廁.csv", mode='w',encoding='utf8') as file:  #open(file,mode,encoding)要有這些物件
    file.write(data)

In [8]:
#讀取CSV,改成python的2維資料
import csv
with open("列管公廁.csv", mode='r' ,encoding='utf8', newline='') as file:
    dict_reader = csv.DictReader(file)
    csv_data:list[dict] = list(dict_reader)
    
for item in csv_data:
    if item['category'] == '臺南市':
        print(item)

{'itemname': '列管公廁個數/不分男女', 'category': '臺南市', 'year': '110', 'itemunit': '個', 'itemvalue': '2446'}
{'itemname': '列管公廁個數/女', 'category': '臺南市', 'year': '110', 'itemunit': '個', 'itemvalue': '8168'}
{'itemname': '列管公廁個數/男', 'category': '臺南市', 'year': '110', 'itemunit': '個', 'itemvalue': '11931'}
{'itemname': '列管公廁個數/總計', 'category': '臺南市', 'year': '110', 'itemunit': '個', 'itemvalue': '22545'}
{'itemname': '列管公廁個數/不分男女', 'category': '臺南市', 'year': '109', 'itemunit': '個', 'itemvalue': '1604'}
{'itemname': '列管公廁個數/女', 'category': '臺南市', 'year': '109', 'itemunit': '個', 'itemvalue': '8062'}
{'itemname': '列管公廁個數/男', 'category': '臺南市', 'year': '109', 'itemunit': '個', 'itemvalue': '12430'}
{'itemname': '列管公廁個數/總計', 'category': '臺南市', 'year': '109', 'itemunit': '個', 'itemvalue': '22096'}
{'itemname': '列管公廁個數/不分男女', 'category': '臺南市', 'year': '108', 'itemunit': '個', 'itemvalue': '1672'}
{'itemname': '列管公廁個數/女', 'category': '臺南市', 'year': '108', 'itemunit': '個', 'itemvalue': '7527'}
{'itemname': '列管公廁個數/男', 'category': '臺南市', 'year': '108', 'itemunit': '個', 'itemvalue': '11012'}
{'itemname': '列管公廁個數/總計', 'category': '臺南市', 'year': '108', 'itemunit': '個', 'itemvalue': '20211'}
{'itemname': '列管公廁個數/不分男女', 'category': '臺南市', 'year': '107', 'itemunit': '個', 'itemvalue': '1426'}
{'itemname': '列管公廁個數/女', 'category': '臺南市', 'year': '107', 'itemunit': '個', 'itemvalue': '7446'}
{'itemname': '列管公廁個數/男', 'category': '臺南市', 'year': '107', 'itemunit': '個', 'itemvalue': '11008'}
{'itemname': '列管公廁個數/總計', 'category': '臺南市', 'year': '107', 'itemunit': '個', 'itemvalue': '19880'}
{'itemname': '列管公廁個數/不分男女', 'category': '臺南市', 'year': '106', 'itemunit': '個', 'itemvalue': '1218'}
{'itemname': '列管公廁個數/女', 'category': '臺南市', 'year': '106', 'itemunit': '個', 'itemvalue': '8237'}
{'itemname': '列管公廁個數/男', 'category': '臺南市', 'year': '106', 'itemunit': '個', 'itemvalue': '12517'}
{'itemname': '列管公廁個數/總計', 'category': '臺南市', 'year': '106', 'itemunit': '個', 'itemvalue': '21972'}

In [12]:
#使用DataFrame顯示資料
import pandas as pd
dataFrame = pd.DataFrame(csv_data, columns=['category','year','itemvalue'])
dataFrame

    category year itemvalue
0        連江縣  110       146
1        金門縣  110       656
2        嘉義市  110       269
3        新竹市  110       311
4        基隆市  110       477
..       ...  ...       ...
455      臺中市  106     29429
456      桃園市  106     16099
457      臺北市  106     44131
458      新北市  106     38333
459       總計  106    253014

[460 rows x 3 columns]