In [10]:
import pandas as pd
#將csv直接轉換成dataframe
dataFrame1 = pd.read_csv('上市公司基本資料.csv')
dataFrame2 = dataFrame1.reindex(columns=['公司代號','公司簡稱','英文簡稱','傳真機號碼','網址'])
dataFrame2.index = dataFrame2['公司代號']
dataFrame3 = dataFrame2.drop(columns=['公司代號'])
# dataFrame4
dataFrame3

      公司簡稱             英文簡稱          傳真機號碼                           網址
公司代號
1101    台泥              TCC  (02)2531-6529  http://www.taiwancement.com
1102    亞泥              ACC   02-2378-5191               www.acc.com.tw
1103    嘉泥              CHC  (02)2511-4002          www.chcgroup.com.tw
1104    環泥              UCC    02-25075870                www.ucctw.com
1108    幸福     LUCKY CEMENT       25048672          www.luckygrp.com.tw
...    ...              ...            ...                          ...
9944    新麗           Shinih    (03)3653635            www.shinih.com.tw
9945   潤泰新  RUENTEX DEVELOP       81617968        www.rt-develop.com.tw
9946  三發地產           SANFAR   02-2570-6985    https://www.sanfar.com.tw
9955    佳龍            SDTI　   (03)473-5259              www.sdti.com.tw
9958   世紀鋼           CIAS　　     03-4738325           www.century.com.tw

[1023 rows x 4 columns]