In [5]:
import pandas as pd
#將csv直接轉換成dataframe
dataFrame1 = pd.read_csv('上市公司營收資料.csv')
dataFrame2 = dataFrame1.reindex(columns=['公司代號','公司名稱','產業別','營業收入-當月營收','營業收入-上月營收'])
dataFrame2.index = dataFrame2['公司代號']
dataFrame3 = dataFrame2.drop(columns=['公司代號'])
display(dataFrame3)
# dataFrame3.to_excel('上市公司基本資料.xlsx')

      公司名稱   產業別  營業收入-當月營收  營業收入-上月營收
公司代號
1101    台泥  水泥工業   11626493   13649152
1102    亞泥  水泥工業    5686606    6409280
1103    嘉泥  水泥工業     238141     254887
1104    環泥  水泥工業     686687     750456
1108    幸福  水泥工業     426739     449482
...    ...   ...        ...        ...
9944    新麗    其他     223904     378996
9945   潤泰新    其他    2687510    2441146
9946  三發地產  建材營造     328040     296234
9955    佳龍  綠能環保     166772      71496
9958   世紀鋼  鋼鐵工業    1020538    1071647

[1014 rows x 4 columns]