In [1]:
import pandas as pd

scores = [
    {'chinese':78,'english':80,'math':92,'history':75,'discover':85},
    {'chinese':92,'english':60,'math':85,'history':62,'discover':73}
]
dataFrame = pd.DataFrame (index=["徐國堂","徐佳佳"],data=scores,)
display(dataFrame.T)

          徐國堂  徐佳佳
chinese    78   92
english    80   60
math       92   85
history    75   62
discover   85   73

In [2]:
import matplotlib.pyplot as plt
#windows
font=FontProperties(fname=r'c:\windows\fonts\simsun.ttc',size=8)  #轉換中文
#mac
# font=FontProperties(fname='/Library/Fonts/Arial Unicode.ttf',size=8)
#codespace
#font=FontProperties(fname='/Library/Fonts/Arial Unicode.ttf',size=8)
figure = plt.figure()
axes = figure.add_subplot(1,1,1) #axes當畫布
dataFrame.T.plot(ax=axes,style=['--','-'],marker='o')  #dataFrame來畫
axes.set_title('徐國堂和徐佳佳分數比較表',fontproperties=font)
axes.grid(visible=True,axis='y')

plt.show()

NameError: name 'FontProperties' is not defined